<header xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light" style="background: #007bff;
            background: linear-gradient(to right, #0062E6, #33AEFF);">
        <div class="container">
            <a class="navbar-brand text-white" href="/home"><h2>Library</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto" sec:authorize="isAuthenticated()">
                        <a class="nav-link active text-white" href="/user"><h5>My books</h5></a>
                    </li>
                    <li class="nav-item m-auto" sec:authorize="isAuthenticated()">
                        <a class="nav-link active text-white" href="/books"><h5>Books</h5></a>
                    </li>
                    <li class="nav-item m-auto" sec:authorize="isAuthenticated()">
                        <a class="nav-link active text-white" href="/authors"><h5>Authors</h5></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-white mx-5" href="/user">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light" style="color: #33AEFF" href="/logout">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
</header>