<div class="container" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="text-center"><h2>Available books</h2></div>
    <br>
    <div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Available copies</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author.fullName}"></td>
                        <td th:text="${book.details.mainGenre}"></td>
                        <td th:text="${book.copies}"></td>
                        <td class="text-right">
                            <div class="row">
                                <div class="col">
                                    <form th:action="@{'/books/delete/{id}' (id=${book.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col">
                                    <a th:href="@{'/books/edit/{id}' (id=${book.getId()})}"
                                       class="btn btn-sm btn-warning">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-sm btn-info">
                                        <i class="fa fa-trash">Rent</i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="text-center">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/books/add" class="btn btn-dark add-product-btn">
                        Add new book
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>