<div class="container" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-5">
            <form action="/authors/add-author" method="POST">
                <input id="id" type="hidden" name="id" th:value="(${author} != null ? ${author.getId()} : '')">
                <div class="form-group m-2">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${author} != null ? ${author.name} : '')"
                           required
                           placeholder="Enter name">
                </div>
                <div class="form-group m-2">
                    <label for="surname">Surname</label>
                    <input type="text"
                           class="form-control"
                           id="surname"
                           name="surname"
                           th:value="(${author} != null ? ${author.surname} : '')"
                           placeholder="Enter surname">
                </div>
                <div class="form-group m-2">
                    <label>Origin</label>
                    <select name="origin" class="form-control">
                        <option th:if="${author} != null"
                                th:selected="${author.getOrigin() != null &&
                                                author.getOrigin().getId() == origin.getId()}"
                                th:each="origin : ${origins}"
                                th:value="${origin.getId()}"
                                th:text="${origin.country}">
                        </option>
                        <option th:if="${author} == null"
                                th:each="origin : ${origins}"
                                th:value="${origin.getId()}"
                                th:text="${origin.country}">
                        </option>
                    </select>
                    <br>
                    <a th:if="${author} == null" type="button" class="btn btn-block btn-outline-info"
                       href="/origin/add">Add new country</a>
                </div>
                <div class="text-center">
                    <button id="submit" type="submit" class="btn btn-secondary m-2">Submit</button>
                    <a type="button" class="btn btn-secondary" href="/authors">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>