<div class="container" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-5">
            <form action="/books/add-book" method="POST">
                <input id="id" type="hidden" name="id" th:value="(${book} != null ? ${book.getId()} : '')">
                <div class="form-group m-2">
                    <label for="title">Title</label>
                    <input type="text"
                           class="form-control"
                           id="title"
                           name="title"
                           th:value="(${book} != null ? ${book.title} : '')"
                           required
                           placeholder="Enter title">
                </div>
                <div class="form-group m-2">
                    <label>Author</label>
                    <select name="author" class="form-control">
                        <option th:if="${book} != null"
                                th:selected="${book.getAuthor() != null &&
                                                book.getAuthor().getId() == a.getId()}"
                                th:each="a : ${authors}"
                                th:value="${a.getId()}"
                                th:text="${a.fullName}">
                        </option>
                        <option th:if="${book} == null"
                                th:each="a : ${authors}"
                                th:value="${a.getId()}"
                                th:text="${a.fullName}">
                        </option>
                    </select>
                </div>

                <div class="form-group m-2">
                    <label>Genre</label>
                    <select name="details" class="form-control">
                        <option th:if="${book} != null"
                                th:selected="${book.getDetails() != null &&
                                                book.getDetails().getId() == d.getId()}"
                                th:each="d : ${details}"
                                th:value="${d.getId()}"
                                th:text="${d.mainGenre}">
                        </option>
                        <option th:if="${book} == null"
                                th:each="d : ${details}"
                                th:value="${d.getId()}"
                                th:text="${d.mainGenre}">
                        </option>
                    </select>
                </div>
                <div class="form-group m-2">
                    <label for="copies">Available copies</label>
                    <input type="text"
                           class="form-control"
                           id="copies"
                           name="copies"
                           th:value="(${book} != null ? ${book.copies} : '')"
                           placeholder="Enter available copies">
                </div>
                <div class="text-center">
                    <button id="submit" type="submit" class="btn btn-secondary m-2">Submit</button>
                    <a type="button" class="btn btn-secondary" href="/books">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>