<div class="container" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-5">
            <form action="/origin/add-origin" method="POST">
                <div class="form-group m-2">
                    <label for="country">Country</label>
                    <input type="text"
                           class="form-control"
                           id="country"
                           name="country"
                           required
                           placeholder="Enter country">
                </div>
                <div class="form-group m-2">
                    <label>Continent</label>
                    <select name="continent" class="form-control">
                        <option th:value="ASIA">ASIA</option>
                        <option th:value="AFRICA">AFRICA</option>
                        <option th:value="EUROPE">EUROPE</option>
                        <option th:value="NORTH_AMERICA">NORTH AMERICA</option>
                        <option th:value="SOUTH_AMERICA">SOUTH AMERICA</option>
                        <option th:value="AUSTRALIA">AUSTRALIA</option>
                        <option th:value="ANTARCTICA">ANTARCTICA</option>
                    </select>
                </div>
                <div class="text-center">
                    <button id="submit" type="submit" class="btn btn-secondary m-2">Submit</button>
                    <a type="button" class="btn btn-secondary" href="/books">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>