<div class="container" xmlns="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-5">
            <form class="" method="post" action="/register">
                <h2 class="form-signin-heading">Register</h2>
                <p>
                    <label for="username" class="sr-only">Username</label>
                    <input type="email" id="username" name="username" class="form-control"
                           placeholder="name@example.com"
                           required=""
                           autofocus="">
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                           required="">
                </p>
                <p>
                    <label for="repeatPassword" class="sr-only">Repeat Password</label>
                    <input type="password" id="repeatPassword" name="repeatPassword" class="form-control"
                           placeholder="Repeat Password" required="">
                </p>
                <p>
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required=""
                           autofocus="">
                </p>
                <p>
                    <label for="surname" class="sr-only">Surname</label>
                    <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname"
                           required=""
                           autofocus="">
                </p>
                <p>
                    <label for="age" class="sr-only">Age</label>
                    <input type="number" id="age" name="age" class="form-control" placeholder="Age"
                           required=""
                           autofocus="">
                </p>
                <p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="role" type="radio" id="ROLE_ADMIN" value="ROLE_ADMIN">
                    <label class="form-check-label" for="ROLE_ADMIN">Admin</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="role" type="radio" id="ROLE_USER" value="ROLE_USER">
                    <label class="form-check-label" for="ROLE_USER">User</label>
                </div>
                </p>
                <br>

                <div class="text-center">
                    <button class="btn btn-secondary btn-lg" type="submit">Sign up</button>
                </div>
            </form>
            <p class="text-center my-2">Already have an account? <a href="/login">Login here!</a></p>
        </div>
    </div>
</div>